<style>
    .win{
        border: 1px solid seagreen;
    }
    .win-title{
        background-color: #00aff2;
    }
</style>

<div id="win">
    <div class="win-title">{{title}}</div>
    {{> @partial-block}}
</div>